 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }
 
 .center-text {
   text-align: center;
 }
 
#film-presentation
{
	padding: 30px;
}

#film-presentation a
{
    text-decoration: underline
}


#film-presentation .name
{
    color: #7B7B7B;
    font-size: 18px;
    font-weight: bold;
}

#film-presentation p .textfilm
{
    font-size: 15px;
}
#film-presentation p .name
{
    color: #7B7B7B;
    font-size: 18px;
    font-weight: bold;
}

#film-presentation .textfilm
{
    font-size: 15px;
}

#film-presentation .resumefilm
{
    color: #000000;
    font-size: 15px;
    text-align: left; 
}

#portfolio-work .my_block .entete 
{
    font-size: 25px;
}

#portfolio-work .my_block 
{
    border: 1px solid black;
    font-weight: bold;
    background-color: #cccccc;
    color: #7B7B7B;
/*    font-size: 18px;*/
    font-weight: bold;
    
}

#theme_layout
{
    display: none;
}
#bergman_layout
{
    display: none;
}
#scolar_layout
{
    display: none;
}
.title-section 
{
    background-color: #8c8c8c;
    color: #FFFFFF;
    border-radius: 15px 0px 0px 0px;
    padding: 15px;
/*    font-size: 25px;*/

}
