 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }
 
 .center-text {
   text-align: center;
 }
 
 
#film-presentation a
{
    text-decoration: underline
}


#film-presentation .name
{
    color: #7B7B7B;
    font-size: 18px;
    font-weight: bold;
}

#film-presentation .textfilm
{
    font-size: 15px;
}

#film-presentation .info
{
    color: #7B7B7B;
    font-size: 18px;
    font-weight: bold;
    padding-left: 50px;
}

#film-presentation .resumefilm
{
    color: #000000;
}
