---
layout: page
title: Uppsala French FilmFestival 
permalink: /en/index
lang: en
ref: index
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">UPPSALA FRENCH FILMFESTIVAL <br> 22-25 November 2018, SlottBiografen </h1>
<!--          <p class="animated fadeInUp"> Uppsala French FilmFestival is back for its 10th edition </p>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2> Uppsala Franska FilmFestival 2018 Edition </h2>
            <p> Welcome to the frenchiest festival in Uppsala ! This year's edition is about speech </p>
            <p> The festival takes place in Uppsala between the 22nd and the 25th of November, all movies are shown in SlottBiografen.  </p>
           </div>

	</div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/lxpRrWOzMs8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="intro-cartouche">
  <div class="container">
    <div class="row">
      <div class="col-sm-4" class="cartouche">
        <div class="block">
          <h1 class="cartouche-header"> Program 2018 </h1>
              <p class="cartouche-text"> <img style="float: left;" src="{{ site.url }}/img/program-logo.png" width="80" height="80" alt="logo">
             Our selection of movies is waiting for you </p>
          <a href="{{ site.url }}/{{ page.lang }}/program.html"><h1 class="cartouche-footer"> SEE MORE </h1> </a>
        </div>
      </div>

      <div class="col-sm-4" class="cartouche">
        <div class="block">
          <h1 class="cartouche-header"> Activities UFFF 2018  </h1>
              <p class="cartouche-text"> <img style="float: left;" src="{{ site.url }}/img/activity-logo.png" width="80" height="80" alt="logo">
             Check out all the activities planned for this edition </p>
          <a href="{{ site.url }}/{{ page.lang }}/activities.html"> <h1 class="cartouche-footer"> INFOS </h1> </a>
        </div>
      </div>

      <div class="col-sm-4" class="cartouche">
        <div class="block">
          <h1 class="cartouche-header"> Tickets </h1>
              <p class="cartouche-text"> <img style="float: left;" src="{{ site.url }}/img/tickets-logo.png" width="80" height="80" alt="logo">
             Buy your tickets to be sure to save a spot </p>
          <a href="{{ site.url }}/{{ page.lang }}/tickets.html"> <h1 class="cartouche-footer"> SEE MORE </h1> </a>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
        </div>
      </div>
    </div>
  </div>
</section>
 -->
<!-- Service Start -->
<section id="service">

  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>They support us </h2>
<!--        <p>Thanks to </p>-->
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-4">
        <div class="service-item">
	  <img src="{{ site.url }}/img/sponsors/sponsor1.png" alt="Sponsor">
<!--          <i class="icon ion-coffee"></i>-->
          <h4>French Alliance </h4>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-item">
	  <img src="{{ site.url }}/img/sponsors/sponsor2.png" alt="Sponsor">
          <h4>French Institute of Sweden </h4>
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-item">
	  <img src="{{ site.url }}/img/sponsors/sponsor3.png" alt="Sponsor">
          <h4>Uppsala Kommun </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to action Start -->
<!--<section id="call-to-action">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <div class="block">-->
<!--          <h2>We design delightful digital experiences.</h2>-->
<!--          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>-->
<!--          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- Content Start -->
<!--<section id="testimonial">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="section-title text-center">-->
<!--        <h2>Fun Facts About Us</h2>-->
<!--        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        {% if site.data.funfacts.size > 0 %}-->
<!--        <div class="block">-->
<!--          {% for ff in site.data.funfacts %}-->
<!--          <ul class="counter-box clearfix">-->
<!--            <li>-->
<!--              <div class="block">-->
<!--                <i class="{{ ff.icon }}"></i>-->
<!--                <h4 class="counter">{{ ff.counter }}</h4>-->
<!--                <span>{{ ff.text }}</span>-->
<!--              </div>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--          </ul>-->
<!--        </div>-->
<!--        {% endif %}-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        {% if site.data.testimonials.size > 0 %}-->
<!--        <div class="testimonial-carousel">-->
<!--          <div id="testimonial-slider" class="owl-carousel">-->
<!--            {% for tm in site.data.testimonials %}-->
<!--            <div>-->
<!--                <img src="img/cotation.png" alt="IMG">-->
<!--                <p>{{ tm.testimonial }}</p>-->
<!--                <div class="user">-->
<!--                  <img src="{{ tm.image }}" alt="Pepole">-->
<!--                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--          </div>-->
<!--        </div>-->
<!--        {% endif %}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
