<!-- footer Start -->
<footer>
<center>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
              <li><a href="{{ site.url }}/{{ page.lang }}/program.html">Program</a></li>
              <li><a href="{{ site.url }}/{{ page.lang }}/aboutus.html"> About Us</a></li>
              <li><a href="{{ site.url }}/{{ page.lang }}/contact.html">Contact</a></li>
              <li><a href="{{ site.addr_facebook }}">Our Facebook</a></li>
          </ul>
        </div>
<!--        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>-->
      </div>
    </div>
  </div>
</footer> 
