---
layout: film_presentation
---
<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
	    <!-- Slider Start -->
	<section id="global-header">
	    <div class="container">
		<div class="row">
		    <div class="col-md-12">
		        <div class="block">
		            <h1> Program  </h1>
		        </div>
		    </div>
		</div>
	    </div>
	</section>

	<section id="intro">
	  <div class="container" id="film-presentation">
	    <div class="row">
	      <div class="col-md-7 col-sm-12">
		<div class="block">
		  <div class="section-title">
		  
  			{% assign names = site.data.navigation.film_presentation[page.lang] %}
		    <h2> {{ page.film }}  </h2> <br/>
		    <span class="name"> {{ names["director"] }}: </span> <span class="textfilm"> <a href="{{ site.baseurl }}/real/{{ page.real-link}}"> {{ page.real }} </a> </span> <br/>
		    <span class="name"> {{ names["actors"] }}: </span> <span class="textfilm"> {{ page.actors }} </span> <br/>
		    <span class="textfilm"> {{ page.length }} | {{ page.year}} </span> <br/>
		   </div>
		   <div>
    		<br /> 
		   {{ content }}
            
            </div>
		<br /> 
		<span class="name"> {{ names["trailer"] }}: </span> <br/><br/>
 		<iframe width="560" height="315" src="{{page.trailer}}" \
			 frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		
	      </div><!-- .col-md-7 close -->
	      <div class="col-md-5 col-sm-12">
	    	<div class="block">
	    	  <img src="{{ site.baseurl }}/img/films/{{page.img}}" alt="Image of the {{page.title}}">
    		  <span class="info"> {{ names["date"] }}: </span> <span class="textfilm"> {{ page.date | date_to_long_string }} </span> <br/>
	  	      <span class="info"> {{ names["time"] }}: </span> <span class="textfilm"> {{ page.date | date: "%HH%M"}} </span> <br/>
	  	      <span class="info"> {{ names["venue"] }}: </span> <span class="textfilm"> SlottBiografen </span>
                
	    	</div>
	      </div><!-- .col-md-5 close -->
	      
	    </div>
	  </div>
	</section>

    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
            </div>
          </div>
        </div>
      </div>
    </section>


    {% include footer.html %}
    </body>
</html>

