---
layout: page
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1> Tickets </h1>
          <p> </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign page_text = site.data.navigation.tickets[page.lang] %}


<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div class="row">
    
      <div class="col-md-6 col-sm-12">
        <div class="block">
            <h1> Tickets </h1>
            <p> {{ page_text["pass"] }} </p>
            <p> Regular Prices:  80kr for one film, 200kr for 3 films</p>
            <p> Student Prices(*):  70kr for one film, 180kr for 3 films</p>
            <p> Opening Ceremony: 120kr </p>
            <p> *: Justification will be asked </p>
            <br />
            <br />
      <fieldset> <legend>  Ordering your tickets </legend>    
         <div class="form-group" >            
            Billet Type:
            <select id="ticket_type" name="ticket_class" >
                <option value="none"> ------  
		<option value="seance1"> Vandal -- 22/10 -- 9H00
		<option value="seance2"> Swagger -- 22/10 -- 13H00
		<option value="seance3"> Victoria -- 22/10 -- 17H30
		<option value="seance4"> Une vie ailleurs -- 22/10 -- 21H00
		<option value="seance5"> Swagger -- 23/10 -- 9H00
		<option value="seance6"> Vandal -- 23/10 -- 13H00
		<option value="seance7"> Pas son genre -- 23/10 -- 16H00
		<option value="seance8"> Ridicule -- 23/10 -- 17H30
		<option value="seance9"> La loi de la jungle-- 23/10 -- 21H00
		<option value="seance10"> Leon Morin -- 24/10 -- 12H30
		<option value="seance11"> Les regles du jeu -- 22/10 -- 15H15
		<option value="seance12"> Corporate -- 24/10 -- 18H00
		<option value="seance13"> Victoria -- 24/10 -- 21H00
		<option value="seance14"> La planete sauvage  -- 25/10 -- 13H00
		<option value="seance15"> La sociologue et l’ourson -- 25/10 -- 15H15
		<option value="seance16"> Jour de fete -- 25/10 -- 20H15
            </select>
	
            <input type="button" name="add" onclick="seance_add()" value="+" >

          </div>
          <div>
            <h4> Your Order </h4>
            <div class="container" id="ticket_order">
              <div class="row">
                <div class="col-sm-4"> <b> Film </b> </div>
                <div class="col-sm-1"> <b> Quantity </b> </div>
                <div class="col-sm-1"> <b> Price </b> </div>
              </div>
            </div>
            <br /> 
            <div class="container" id="ticket_order">
              <div class="row">
                <div class="col-sm-4"> Reduction </div>
                <div class="col-sm-1" >  </div>
                <div class="col-sm-1" id="reduction_price"> 0SEK </div>
              </div>
            </div>
          </div>
          <div class="form-group">            
              Student Price: <input type="checkbox" name="student_price" onClick="updateCheckoutValue()" id="student_price"> 
          </div>       

           <h4 id="order_total"> Total: 0kr </h4>
           <button class="btn btn-default" type="button" onclick="check_order()" id="checkout_tickets" >Checkout: 0kr</button>
           </fieldset>
        </div>
      </div>
    </div>
  </div>
</section>

<center>
<div id="error_message_tickets">
    <h4>Error !</h4>
    <p>Sorry there was an error sending your form. </p>
  </div>
  <div id="success_message_tickets">
      <h4> Success ! </h4>
      <p>Your Message was Sent Successfully.</p>
  </div>
</center>
