---
layout: page
---

{% assign page_text = site.data.navigation.volunteering[page.lang] %}

  <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-12 ">
                <div class="block">
                    <h1>  </h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="volunteer">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div>
            <h2> {{ page_text["title"] }} </h2>
            <p> {{ page_text["text"] }} </p>
       		<center> <a href="https://docs.google.com/forms/d/1cX4QA8v0stOBaBQVectUvwwd_gg-P9r2nUdfkRnqyiU" target="_blank" > {{ page_text["lien"] }}   </a> </center>
       		</div>

	</div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img width="315" height="340" src="{{ site.url}}/img/contact_{{page.lang}}.png">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
