---
layout: page
---

  <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-12 ">
                <div class="block">
                    <h1>  Festival </h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="festival">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="block">
          <div>
            <h2>Uppsala French FilmFestival History </h2>
            <br /> <br /> 
          	<img   height=300 src="{{ site.url}}/img/festival2.jpeg" style="float: right;">
            <p> Uppsala French Film Festival was originally arranged by Alliance Française and the Lighthouse Cinema's friends, in collaboration with the French Institute and the Lighthouse Cinema, supported by Uppsala municipality. The idea came in conjunction with two anniversaries: 120th anniversary of the Alliance Française and 100 years for the Lighthouse Cinema. The first French Film Festival (FFF) started on 18-20 March 2011. The organization was the same 2012. The festival took a break in 2013. </p>


 			<p> 2014 and 2015, the festival was arrested by Alliance Française and moved to the Castle Biogfraph. Since 2016, the festival is a collaboration with Alliance Française and  the Fench Institute of Sweden, supported by the Cultural Administration of Uppsala Municipality. The festival was held in 2014 and 2015 in March. Since 2016, the festival takes place in November. </p>
          	<img width=400 src="{{ site.url}}/img/festival1.jpeg" style="float: left;">
			<p> The purpose of the Uppsala French FilmFestival is to promote the proliferation of films from France and the French-speaking part of the world. </p>

			<p> The program for the Uppsala French Film Festival consists of some previews, films that rarely appear in Sweden and sometimes classic. For example, "Soleils" by Dani Kouyaté from Burkina Faso and Frenchman Olivier Delahaye appeared at the 2015 festival and for the first time, a director could attend. </p>

			<br /> <br /> 

            <h2> SlottBiografen </h2>


			<p> <img width=400 src="{{ site.url}}/img/slottsbiografen.jpeg" style="float: left;">
				<br /> Slottsbiografen, Nedre Slottsgatan 6B, 753 09 Uppsala, is one of Sweden's oldest preserved. It was built 1914-1915 and is still used for movie viewing. In this cinema Ingmar Bergman discovered the film world. The lounge has 130 seats
			</p>


		  </div>
		</div>
      </div>    
    </div>
  </div>
</section>
