---
layout: page
---

{% assign page_text = site.data.navigation.accueil[page.lang] %}

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp"> {{ page_text["festival"] }}<br> {{ page_text["date"] }}  
              <a href="https://goo.gl/maps/sTxF4BZtKmH2" target="_blank"> Slottsbiografen </a>  </h1>
<!--          <p class="animated fadeInUp"> Uppsala French FilmFestival is back for its 10th edition </p>-->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2> Uppsala Franska FilmFestival 2018 Edition </h2>
            <p> {{ page_text["presentation1"] }} </p>
            <p> {{ page_text["presentation2"] }} </p>
            <p> {{ page_text["presentation3"] }} </p>
	    <br> <br> <br>
           </div>
         <div id=button_facebook class="fb-like" data-href="https://www.facebook.com/uppsalafranskafilmfestival/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="false"> </div>
	</div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
<!--          <iframe width="560" height="315" src="https://www.youtube.com/embed/lxpRrWOzMs8" frameborder="0" allowfullscreen></iframe>-->
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
<section id="intro-cartouche">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 nopadding" class="cartouche" id="cartouche1">
        <div class="block">
          <h1 class="cartouche-header"> Program 2018 </h1>
	 <img src="{{ site.url }}/img/theme.jpg" width=100% />
<!--              <p class="cartouche-text"> <img style="float: left;" src="{{ site.url }}/img/program-logo.png" width="80" height="80" alt="logo">-->
<!--             {{ page_text["movie_selection"]}}</p>-->
          <a href="{{ site.url }}/{{ page.lang }}/program.html"><h1 class="cartouche-footer"> SEE MORE </h1> </a>
        </div>
      </div>

      <div class="col-sm-4 nopadding" class="cartouche">
        <div class="block">
          <h1 class="cartouche-header"> {{ page_text["title_activity"]}}  </h1>
	 <img src="{{ site.url }}/img/activities.jpg" width=100% />
          <a href="{{ site.url }}/{{ page.lang }}/activities.html"> <h1 class="cartouche-footer"> INFOS </h1> </a>
        </div>
      </div>

      <div class="col-sm-4 nopadding" class="cartouche">
        <div class="block">
          <h1 class="cartouche-header"> Tickets </h1>
	 <img src="{{ site.url }}/img/ticket.jpg" width=100% />
          <a href="{{ site.url }}/{{ page.lang }}/tickets.html"> <h1 class="cartouche-footer"> SEE MORE </h1> </a>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
        </div>
      </div>
    </div>
  </div>
</section>
 -->
<!-- Service Start -->
<section id="service">

  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2> {{ page_text["support"] }} </h2>
<!--        <p>Thanks to </p>-->
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-3">
        <div class="service-item">
	      <a href="https://af-upsal.org/" target="_blank"> <img src="{{ site.url }}/img/sponsors/sponsor1.png" alt="Sponsor"> </a>
<!--          <i class="icon ion-coffee"></i>-->
        </div>
      </div>
      <div class="col-sm-3">
        <div class="service-item">
	 <a href="https://institutfrancais-suede.com/?lang=sv" target="_blank"> <img src="{{ site.url }}/img/sponsors/sponsor2.png" alt="Sponsor"> </a>
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>-->
        </div>
      </div>
      <div class="col-sm-3">
        <div class="service-item">
	  <a href="https://www.uppsala.se/" target="_blank" > <img src="{{ site.url }}/img/sponsors/sponsor3.png" width=200 alt="Sponsor"> </a>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="service-item">
	  <a href="https://www.regionuppsala.se/" target="_blank" > <img src="{{ site.url }}/img/sponsors/sponsor4.png" width=300 alt="Sponsor"> </a>
        </div>
      </div>

    </div>
  </div>

<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-3">-->
<!--        <a href="https://af-upsal.org/" target="_blank">  <h4> {{ page_text["frenchalliance"] }}</h4> </a>-->
<!--      </div>-->
<!--      <div class="col-sm-3">-->
<!--       <a href="https://institutfrancais-suede.com/?lang=sv" target="_blank"> <h4> {{ page_text["institutfrancais"] }} </h4> </a>-->
<!--      </div>-->
<!--      <div class="col-sm-3">-->
<!--       <a href="https://www.uppsala.se/" target="_blank" > <h4> {{ page_text["uppsalakommun"] }} </h4> </a>-->
<!--      </div>-->
<!--      <div class="col-sm-3">-->
<!--         <a href="https://www.regionuppsala.se/" target="_blank" > <h4> Upplands Län </h4> </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</section>


<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
        </div>
      </div>
    </div>
  </div>
</section>

