---
layout: page
---

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1> PAGE NOT FOUND </h1>
          <p> Here is a duck instead </p>
        </div>
      </div>
    </div>
  </div>
</section>
<br/>
<br/>
<center>
<iframe src="https://giphy.com/embed/jwsafgL5oTBTO" width="466" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/jwsafgL5oTBTO"></a></p>

</center>
